@{
    ViewData["Title"] = "Home Page";
}
<h1>¿Quienes somos?</h1>
<div class="container">
  <div class="row">
	<div class="col-md-4">
	<h3 class="text-justify"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt est id vitae dignissimos. Consequuntur, commodi ut? Eum, sunt aperiam officia magnam voluptates laboriosam temporibus, dolorem, id labore velit quo quas.</h3>
	</div><!-- /col -->
	<div class="col-md-8">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/AoAm4om0wTs?rel=0"></iframe>
	</div>
	
	</div><!-- /col -->

  </div><!-- /row -->
</div><!-- /container -->
