@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="contact_saludo">
        <img src="https://i.pinimg.com/originals/dc/0a/18/dc0a1859ed30a57ed71850a7b2738667.png" alt="">
        <h1>@ViewBag.Mensaje</h1>
        
    </div>
     
</div>