<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        -->
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <form class="form-inline" method="POST" action="/home/search_result">
                    <input class="form-control mr-sm-2"  name="titulo" placeholder="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" onclick="location.href='./home/search_result'">Search</button>
                </form>
                <a id="userButton" class="user-button"  href="~/home/login"><i class="far fa-user-circle" style="size: 15px;"></i></a>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>BookShop</h6>
            <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem odit est veritatis error officiis dicta deleniti ipsum? Ex incidunt corrupti deleniti modi. Ab laborum alias enim in porro! Omnis, id..</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Links</h6>
            <ul class="footer-links">
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
              <li><a asp-controller="Home" asp-action="About">About</a></li>
              <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
              <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Get our newsletter</h6>
            <ul class="footer-links">
              <li><form class="form-inline" method="POST" action="/home/suscripcion">
                    <input class="form-control mr-sm-1" name="mailUsuario" placeholder="Ingresá tu email..." required>
                    <input type="submit" class="btn btn-primary" value="Suscribirme"/>
                </form></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">Gabriela Moya</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/gabialemoya"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/GabiAleMoya"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/gabialemoya/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/gabialemoya/"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/d93d664563.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
